<h1>Search for "my product"</h1>
  <form action="/search" method="get" role="search">
    <input id="SearchInput" type="search" name="q" value="{{ search.terms | escape }}">
  </form>

<div class="list-view-items">
</div>